<div class="container">
  <div class="row">
    <div class="col-md-7 col-sm-12 cx-preview-image">
      <a [routerLink]="{ cxRoute: 'product', params: product } | cxUrl">
        <cx-media
          class="cx-product-image"
          [container]="product.images?.PRIMARY"
          format="product"
          [alt]="product.summary"
        ></cx-media>
      </a>
    </div>
    <div class="col-md-5 col-sm-12 cx-preview-body">
      <div class="row">
        <div class="col-md-12">
          <h2 class="cx-preview-title-container">
            <a
              class="cx-preview-title"
              [routerLink]="{ cxRoute: 'product', params: product } | cxUrl"
              >{{ product.name }}
            </a>
          </h2>
        </div>
      </div>

      <div class="row cx-preview-rating">
        <cx-star-rating
          [rating]="product?.averageRating"
          [disabled]="true"
        ></cx-star-rating>
      </div>

      <div class="row cx-preview-secondary-info">
        <div class="col-md-6">
          <h5>{{ product.code }}</h5>
        </div>
        <div class="col-md-6">
          <h5>{{ product.stock?.stockLevelStatus }}</h5>
        </div>
      </div>

      <div class="row cx-preview-buttons">
        <div class="col-md-12">
          <a
            class="btn btn-primary btn-block"
            [routerLink]="{ cxRoute: 'product', params: product } | cxUrl"
          >
            View Details
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col-lg-12">
      <div class="cx-preview-divider"></div>
    </div>
  </div> -->

  <!-- <div class="row">
    <cx-page-slot position="UpSelling"></cx-page-slot>
  </div> -->
</div>
